#box{
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    height: 200px;

    background-color: grey;

    /* border-left: 12px solid black;
    border-top: 12px dashed black;
    border-bottom: 12px dotted black;
    border-right: 12px double black; */

    border: 12px double aquamarine;

    /* padding */

    /* padding: 20px ; */
    /* padding: 20px 10px; (20 px top/bot 10px lati)*/
    /* padding: 20px 10px 5px 2px; ( parte da top e va in senso orario) */ 

        padding-top: 20px;

        margin: 50px 10px;
}

#contenuto{
    width: 100%;
    height: 100%;

    background-color: blue;
}