p{
    /* font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;

    font-size: 20px;

    font-weight: bold; */

    font-family: 'Rubik Bubbles', cursive;
    font-size: 50px;

    color: blueviolet;

    letter-spacing: 2px;
    word-spacing: 10px;

    line-height: 0.5;

    text-align: center;

    text-decoration: underline;

    /* direction: rtl;  per scrivere da destra a sinistra (lingua araba)*/

}
