a{
    text-decoration: none;
    color: white;

    background-color:royalblue;

    border-radius: 8px;
    padding: 12px 8px;
    margin: 10px;

    display: inline-block;
}

a:hover{
    background-color: pink;
    padding: 10px;
}
/* a:visited{
    background-color: saddlebrown;
}  quando segnali che la risorsa è già stata aperta */