html, body{
    font-family: fantasy;
    
    background-image: url("../img/graywall.jpg");

    text-align: center;

    border: 4px solid black;
    display: inline-block;
}

#container{
    display: inline-block;
    position: relative;
    width: 500px;
    margin-top: 100px;

    background-color:whitesmoke;
    border-radius: 4px;

    box-shadow: 0px 20px 40px rgba(0,0,0,0.5);
    border: 4px solid black;
    margin: 20px;
    
}

#container::before{
    content: '';
    position: absolute;
    width: 98%;
    width: 100%;

    left: 1%; 
    bottom: -6px;

    background-color: whitesmoke;
    z-index: -1;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.5);
    border-radius: 4px;
    
}

/* form */
#container form{

    width: 100%;
    position: relative;
    float: left;
    display: block;
   
}

#container form input{
    width: 100%;
    display: block;
    float: left;
    padding: 0; margin: 0; border: 0;

    padding: 20px 18px;

    box-sizing: border-box;  /*  */

    font-size: 24px;
    font-family: fantasy;
    font-weight: 100;
    background-color: gray;
    border-bottom: 4px solid black;
    
}
#container form input:focus{
    opacity: 1;
    background-color: greenyellow;
   display: inline-block;
}

/* todolist */


#todo-list{
    width: 100%;
    float: left;
    display: block;

    text-align: left;
    
    
}

#todo-list li.todo{
display: inline-block;
width: inherit;

padding: 10px 10px;
box-sizing: border-box;

}

#todo-list li.todo:last-of-type{
    border-bottom: 0;
}

#todo-list li.todo div:first-of-type{
width: 40px;
display: block;
float: left;
height: 100%;
}
#todo-list li.todo div:first-of-type> span{
width: 24px;
height: 24px;
display: block;

margin: 0 auto;
position: relative;

border: 1px solid rgba(0,0,0,0.5);
border-radius: 50%;

cursor: pointer;
}
#todo-list li.todo p{
    display: block;
    float: left;
    width: 458px;

    font-size: 20px;
    font-weight: 100px;
    color: rgba(0,0,0,0.5);
}

#col-2{
    width: 20%;
}

#col-10{
    width: 80%;
}
